@import url("https://fonts.googleapis.com/css?family=Ubuntu");

* {
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg {
  background: url("GW.jpg") no-repeat center center/cover;
  position: absolute;
  top: -30px;
  left: -30px;
  width: calc(100vw + 60px);
  height: calc(100vh + 60px);
  z-index: -1;
  filter: blur(0px);
}

.loading-text {
  font-size: 50px;
  color: #fff;
}
h1 {
  color: blue;
  font-family: arial, sans-serif;
  font-size: 50px;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 1px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  width: 50%;
  border: 3px solid #8ac007;
}
footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: auto;
  background: rgb(238, 238, 238);
}
